.image-preview {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    border: 12px solid #fff;
    -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  }

  .fill-remaining-space {
    flex: 1 1 auto;
  }

  .search-div{
    margin: 10px;
  }

  .search-field{
    width: 70%;
    margin-left: 10px;
  }

  .action-td{
    white-space: nowrap; 
    vertical-align: middle;
  }

  ::ng-deep .mat-sort-header-arrow {
    opacity: 1 !important;
   }
