


   ::ng-deep .dx-field {
    display: inline-block;
    margin-right: 20px;
  }

  ::ng-deep #gridContainer {
    box-shadow: 3px 3px 5px 5px #ccc;
    padding: 10px;
  }

  .title-bar {
    text-align: center;
    box-shadow: 3px 3px 5px 5px #ccc;
    padding: 15px;
    margin-bottom: 20px;
  }
