

<div class="container mt-3">
  <div class="title-bar">
    <h2>Leave Applications</h2>
  </div>
  <dx-data-grid
    id="gridContainer"
    [dataSource]="leaveRequests"
    keyExpr="id"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    [columnAutoWidth] ="true"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
  >

  <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager
        [visible]="true"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true"
    >
    </dxo-pager>

    <dxo-toolbar>
      <dxi-item location="before">
        <div *dxTemplate>
          <dx-button
            stylingMode="contained"
            [text]="'Leave Request'"
            icon="add"
            type="default"
            (onClick)="applyForLeave()"
          >
          </dx-button>
        </div>
      </dxi-item>
      <dxi-item name="searchPanel" location="after"></dxi-item>
      <dxi-item name="exportButton" location="after"></dxi-item>
    </dxo-toolbar>

    <dxo-export 
      [enabled]="true"
      [formats]="['xlsx', 'pdf']"
    >
    </dxo-export>

    <dxo-search-panel
    [visible]="true"
    [width]="300"
    placeholder="Search"
    >
        
    </dxo-search-panel>
    
    <dxi-column dataField="userName" caption="Name" alignment="left"></dxi-column>
    <dxi-column dataField="fromDate" dataType="date" caption="From Date" alignment="left"></dxi-column>
    <dxi-column dataField="toDate" sortOrder="desc" dataType="date" caption="To Date" alignment="left"></dxi-column>
    <dxi-column dataField="leaveType" caption="Leave Type" alignment="left"></dxi-column>
    <dxi-column dataField="leaveReason" caption="Reason" alignment="left"></dxi-column>
    <dxi-column dataField="emergencyContact" caption="Emergency Contact" alignment="left"></dxi-column>
    <dxi-column
      dataField="filePath"
      [width]="100"
      [allowFiltering]="false"
      [allowSorting]="false"
      cellTemplate="cellTemplate"
      caption="Attachment"
      alignment="left"
    ></dxi-column>

    <dxi-column
      dataField="id"
      [allowFiltering]="false"
      [allowSorting]="false"
      cellTemplate="calenderTemplate"
      caption="Calender View"
      alignment="left"
    ></dxi-column>

    <dxi-column
      dataField="id"
      [allowFiltering]="false"
      [allowSorting]="false"
      cellTemplate="actionTemplate"
      caption="Action"
      alignment="left"
    ></dxi-column>

    <div *dxTemplate="let data of 'cellTemplate'">
      <img height=60 width=100 src= "{{imageApiUrl}}{{data.value}}" />
    </div>

    <div *dxTemplate="let data of 'calenderTemplate'">
      <dx-button
            stylingMode="contained"
            icon="event"
            type="default"
            (onClick)="openCalender(data.value)"
          >
          </dx-button>
    </div>

    <div *dxTemplate="let data of 'actionTemplate'">
      <div class="dx-field" *ngIf="isAdmin">
        <dx-button
              stylingMode="contained"
              text="Approve"
              icon="check"
              type="default"
              (onClick)="openDialogue(data.value, 'approve')"
            >
        </dx-button>
      </div>
      <div class="dx-field" *ngIf="isAdmin">
        <dx-button
              stylingMode="contained"
              text="Reject"
              icon="clear"
              type="default"
              (onClick)="openDialogue(data.value, 'reject')"
            >
        </dx-button>
      </div>
      <div class="dx-field" *ngIf="!isAdmin">
        <dx-button
              stylingMode="contained"
              text="Edit"
              icon="edit"
              type="default"
              (onClick)="editRequest(data.value)"
            >
        </dx-button>
      </div>
      <div class="dx-field" *ngIf="!isAdmin">
        <dx-button
              stylingMode="contained"
              text="Cancel"
              icon="trash"
              type="default"
              (onClick)="openDialogue(data.value, 'delete')"
            >
        </dx-button>
    </div>
    </div>
  </dx-data-grid>
</div>