

<header>
    <dx-toolbar
    id="headerToolbar"
    >
        
        <dxi-item location="before">
            <h3>{{headerTitle}}</h3>
        </dxi-item>
        <dxi-item location="after" *ngIf="(isLoggedIn$ | async)">
            <div *dxTemplate>
              <dx-button
                stylingMode="text"
                [text]="'Approved Request'"
                (onClick)="loadPage('/search-leave')"
              >
              </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="after" *ngIf="(isLoggedIn$ | async)">
            <div *dxTemplate>
              <dx-button
                stylingMode="text"
                [text]="'Balance'"
                (onClick)="loadPage('/leave-balance')"
              >
              </dx-button>
            </div>
        </dxi-item>

        <dxi-item location="after" *ngIf="(isLoggedIn$ | async)">
            <div *dxTemplate>
              <dx-button
                stylingMode="text"
                [text]="'Requests'"
                (onClick)="loadPage('/requests')"
              >
              </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="after"  *ngIf="(isLoggedInRoleAdmin$ | async)">
            <div *dxTemplate>
              <dx-button
                stylingMode="text"
                [text]="'Config'"
                (onClick)="loadPage('/annual-leave')"
              >
              </dx-button>
              <!-- <dx-button
                stylingMode="text"
                [text]="'Users'"
                (onClick)="loadPage('/users')"
              >
              </dx-button> -->
            </div>
        </dxi-item>
        <dxi-item location="after" *ngIf="(isLoggedIn$ | async)">
            <div *dxTemplate>
              <dx-button
                stylingMode="text"
                [text]="'Logout'"
                (onClick)="logout()"
              >
              </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="after" *ngIf="!(isLoggedIn$ | async)">
            <div *dxTemplate>
              <dx-button
                stylingMode="text"
                [text]="'Login'"
                (onClick)="loadPage('/login')"
              >
              </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="after" *ngIf="!(isLoggedIn$ | async)">
            <div *dxTemplate>
              <dx-button
                stylingMode="text"
                [text]="'Register'"
                (onClick)="loadPage('/signup')"
              >
              </dx-button>
            </div>
        </dxi-item>

    </dx-toolbar>
</header>
