<mat-toolbar color="primary" class="mat-elevation-z8">
    <span>Leave Management System</span>

<div class="spacer"></div>
    <div *ngIf="(isLoggedIn$ | async)">
        <a mat-button routerLink="/search-leave">Leaves</a>
        <a mat-button routerLink="/leave-balance">Balance</a>
        <a mat-button routerLink="/requests">Requests</a>
        <a *ngIf="(isLoggedInRoleAdmin$ | async)" mat-button routerLink="/annual-leave">Config</a>
        <a mat-button (click)="logout()">Logout</a>
    </div>

    <div *ngIf="!(isLoggedIn$ | async)">
        <a mat-button routerLink="/login">Login</a>
        <a mat-raised-button routerLink="/signup" color="accent">Register</a>
    </div>
    
    
</mat-toolbar>
