<div class="login-container">
  <div class="login-content">
    <mat-toolbar class="login-toolbar" color="primary">Leave Request</mat-toolbar>
		<mat-card>
      <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">

        <mat-form-field >
          <!-- <mat-label>Type</mat-label> -->
          <mat-select formControlName="leaveType" [(ngModel)]="selectedLeave">
            <mat-option *ngFor="let type of leaveType" [value]="type.value">
              {{type.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="leaveForm.get('leaveType')?.hasError('required')">Please choose a leave type</mat-error>
        </mat-form-field>
      <br>
        <mat-form-field appearance="fill">
            <mat-label>from</mat-label>
            <input matInput [matDatepicker]="fDate" [min]="minDate" [max]="maxDate" formControlName="fromDate">
            <mat-datepicker-toggle matSuffix [for]="fDate"></mat-datepicker-toggle>
            <mat-datepicker #fDate></mat-datepicker>
        
            <mat-error *ngIf="leaveForm.get('fromDate')?.hasError('required')">
              Valid date required.
            </mat-error>    
            <mat-error *ngIf="leaveForm.get('fromDate')?.hasError('matDatepickerMin')">
              Invalid minimum date.
            </mat-error>
            <mat-error *ngIf="leaveForm.get('fromDate')?.hasError('matDatepickerMax')">
              Invalid maximum date.
            </mat-error>
          </mat-form-field> 
      <br>
          <mat-form-field appearance="fill">
            <mat-label>to</mat-label>
            <input matInput [matDatepicker]="tDate" [min]="minDate" [max]="maxDate" formControlName="toDate">
            <mat-datepicker-toggle matSuffix [for]="tDate"></mat-datepicker-toggle>
            <mat-datepicker #tDate></mat-datepicker>
        
            <mat-error *ngIf="leaveForm.get('toDate')?.hasError('required')">
              Valid date required.
            </mat-error>    
            <mat-error *ngIf="leaveForm.get('toDate')?.hasError('matDatepickerMin')">
              Invalid minimum date.
            </mat-error>
            <mat-error *ngIf="leaveForm.get('toDate')?.hasError('matDatepickerMax')">
              Invalid maximum date.
            </mat-error>

            <mat-error *ngIf="leaveForm.get('toDate')?.hasError('inValidDateRange')">
              Select toDate greater than fromDate.
            </mat-error>  

          </mat-form-field> 

          <div>Reason</div>
          <textarea cols="64" rows = "10" class ="tesxt-area" formControlName="leaveReason">

          </textarea>

          <div >Emergency Contact: </div>
          <input id="contact" type="text" formControlName="emergencyContact">

          <div>Attachment</div>
          <input type="file" #attachment accept="image/*" id="attachment" (change)="selectFile($event)"
           
           >

          <!-- <label>{{leaveForm.valid}}</label> -->

          <div class="form-group">
            <button type="submit" [disabled]="leaveForm.invalid" class="btn btn-success">Submit</button>
            <button
                type="button"
                (click)="onReset()"
                class="btn btn-warning float-right"
              >
                Reset
              </button>
          </div>
      </form>
    </mat-card>
  </div>
</div>
