
 <div class="container">
  <form (submit)="onSubmit($event)">
      <dx-form 
      id="form"
      [showValidationSummary]="true"
      [formData]="leaveApplicationForm"
      validationGroup="loginData"
      
      >
      <dxi-item itemType="group" [colCount]="2" caption="Leave Application">

          <dxi-item
            dataField="leaveType"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: leaveType }"
            colSpan="2"
            cssClass="padding-remove"
          >
            <dxo-label alignment="left">
            </dxo-label>
            <dxi-validation-rule type="required" message="Leave type is required">
            </dxi-validation-rule>
          </dxi-item>


          <dxi-item
            dataField="fromDate"
            editorType="dxDateBox"
            pickerType="calender"

            [editorOptions]="{
              invalidDateMessage: 'The date must have the following format: yyyy/MM/dd',
              placeholder: 'yyyy/MM/dd',
              displayFormat: 'yyyy/MM/dd',
              disabledDates: dateFilter }"
          >
            <dxo-label alignment="left">
            </dxo-label>
            <dxi-validation-rule
              type="required"
              message="From Date is required"
            >
            </dxi-validation-rule>
            <dxi-validation-rule
              type="range"
              [min]="minDate"
              message="Invalid minimum date"
            >
            </dxi-validation-rule>
            <dxi-validation-rule
              type="range"
              [max]="maxDate"
              message="Invalid maximum date"
            >
            </dxi-validation-rule>
          </dxi-item>

          <dxi-item
            dataField="toDate"
            editorType="dxDateBox"
            [editorOptions]="{
              invalidDateMessage:
              'The date must have the following format: yyyy/MM/dd',
                disabledDates: dateFilter,
                placeholder: 'yyyy/MM/dd',
              displayFormat: 'yyyy/MM/dd'
            }"
          >
            <dxo-label alignment="left">
            </dxo-label>
            <dxi-validation-rule
              type="required"
              message="To Date is required"
            >
            </dxi-validation-rule>
            <dxi-validation-rule
              type="range"
              [min]="minDate"
              message="Invalid minimum date"
            >
            </dxi-validation-rule>
            <dxi-validation-rule
              type="range"
              [max]="maxDate"
              message="Invalid maximum date"
            >
            </dxi-validation-rule>

            <dxi-validation-rule 
              message="To Date should be greater than From Date" 
              type= "custom"
              [reevaluate]= true
              [validationCallback]="dateRangeValidate"
            >
            </dxi-validation-rule>

            <dxi-validation-rule 
              message="Annual Leave Count Exceeded!" 
              type= "async"
              [validationCallback]="isLeaveCountExceeded"
            >
              
            </dxi-validation-rule>
          </dxi-item>

          <dxi-item
            dataField="leaveReason"
            editorType="dxTextArea"
            [editorOptions]="{maxLength: '200'}"
            colSpan="2"
            cssClass="padding-remove"
          >
            <dxo-label template="reasons" alignment="left"></dxo-label>

            <dxi-validation-rule type="required" message="Leave Reason is required">

            </dxi-validation-rule>
          </dxi-item>

          <dxi-item
            dataField="emergencyContact"
            editorType="dxTextBox"
            colSpan="2"
            cssClass="padding-remove"
          >
            <dxo-label text="Emergency Contact" alignment="left"></dxo-label>

            <dxi-validation-rule type="required" message="Emergency Contact is required">

            </dxi-validation-rule>
          </dxi-item>

          <dxi-item
          dataField="filePath"
          colSpan="2"
          cssClass="padding-remove"
          template="imageUploadTemplate"
          >
          <dxo-label text="Attachment" alignment="left"></dxo-label>
          </dxi-item>
              
          <dxi-item colSpan="2" itemType="button" horizontalAlignment="right" [buttonOptions]="buttonOptions">

          </dxi-item>

          

        </dxi-item>

        <div *dxTemplate="let data of 'imageUploadTemplate'">
          <dx-file-uploader
            [multiple]="false"
            [allowedFileExtensions]="['.jpg', '.jpeg', '.png']"
            uploadMode="useForm"
            (onValueChanged)="onFileUpload($event)"
          ></dx-file-uploader>
          <img class="uploadedImage" *ngIf="isImageUploaded" height=60 width=100 [src]= "editImageUrl"/>
        </div>

        <div *dxTemplate="let data of 'reasons'">
          <div id="template-content">
            <i id="helpedInfo" class="dx-icon dx-icon-info"></i>
            Reason
          </div>
    
          <dx-tooltip
            target="#helpedInfo"
            showEvent="mouseenter"
            hideEvent="mouseleave"
          >
            <div *dxTemplate="let data = data; of: 'content'">
              <div id="tooltip-content">
                This field must not exceed 200 characters
              </div>
            </div>
          </dx-tooltip>
        </div>
      </dx-form>
  </form>
</div>
