


<div class="container">
    <h2 class="title">Annual Leave Count</h2>
    <form (submit)="onSubmit($event)">
        <dx-form 
        id="form"
        [showValidationSummary]="true"
        [formData]="annualLeaveCountForm"
        validationGroup="leaveCountData"
        >

            <dxi-item dataField="configValue" >
                <dxo-label text="Value"></dxo-label>
                <dxi-validation-rule
                    type="required"
                    message="This field is required"
                    >
                </dxi-validation-rule>
                <dxi-validation-rule
                    type="range"
                    [min]="10"
                    message="Minimum value is 10"
                    >
                </dxi-validation-rule>
                <dxi-validation-rule
                    type="range"
                    [max]="50"
                    message="Maximum value is 50"
                    >
                </dxi-validation-rule>
            </dxi-item>

           
            
            <dxi-item itemType="button" horizontalAlignment="right" [buttonOptions]="buttonOptions">
  
            </dxi-item>
        </dx-form>
    </form>
  </div>
